In [ ]:
#Bring in datasets

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import requests
import time
from scipy.stats import linregress
import os
import csv
from sqlalchemy import create_engine
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [2]:
# import python library
import pandas as pd
# assign a variable that contains a string of your credentials
credentials ="postgres://postgres:PostgreSQL@localhost:5432/Coders_D2"

In [3]:
# read in your SQL query results using pandas
dataframe = pd.read_sql("""select * from coders_d
            """, con = credentials)
# return your first five rows
dataframe.head()

,Participantno,Age,CommuteTime,CountryCitizen,CountryLive,EmploymentField,EmploymentFieldOther,EmploymentStatus,ExpectedEarning,FinanciallySupporting,...,HoursLearning,Income,IsEthnicMinority,IsReceiveDisabilitiesBenefits,IsSoftwareDev,IsUnderEmployed,LanguageAtHome,MaritalStatus,MoneyForLearning,MonthsProgramming
0,1,27.0,15 to 29 minutes,Canada,Canada,software development and IT,None,Employed for wages,NaN,NaN,...,15.0,NaN,NaN,0.0,0.0,0.0,English,married or domestic partnership,150.0,6.0
1,2,34.0,None,United States of America,United States of America,None,None,Not working but looking for work,35000.0,NaN,...,10.0,NaN,0.0,0.0,0.0,NaN,English,"single, never married",80.0,6.0
2,3,21.0,15 to 29 minutes,United States of America,United States of America,software development and IT,None,Employed for wages,70000.0,NaN,...,25.0,13000.0,1.0,0.0,0.0,0.0,Spanish,"single, never married",1000.0,5.0
3,4,26.0,I work from home,Brazil,Brazil,software development and IT,None,Employed for wages,40000.0,0.0,...,14.0,24000.0,0.0,0.0,0.0,1.0,Portuguese,married or domestic partnership,0.0,5.0
4,5,20.0,None,Portugal,Portugal,None,None,Not working but looking for work,140000.0,NaN,...,10.0,NaN,0.0,0.0,0.0,NaN,Portuguese,"single, never married",0.0,24.0

In [4]:
pd.read_sql_query('select * from coders_d', con=credentials).head()

,Participantno,Age,CommuteTime,CountryCitizen,CountryLive,EmploymentField,EmploymentFieldOther,EmploymentStatus,ExpectedEarning,FinanciallySupporting,...,HoursLearning,Income,IsEthnicMinority,IsReceiveDisabilitiesBenefits,IsSoftwareDev,IsUnderEmployed,LanguageAtHome,MaritalStatus,MoneyForLearning,MonthsProgramming
0,1,27.0,15 to 29 minutes,Canada,Canada,software development and IT,None,Employed for wages,NaN,NaN,...,15.0,NaN,NaN,0.0,0.0,0.0,English,married or domestic partnership,150.0,6.0
1,2,34.0,None,United States of America,United States of America,None,None,Not working but looking for work,35000.0,NaN,...,10.0,NaN,0.0,0.0,0.0,NaN,English,"single, never married",80.0,6.0
2,3,21.0,15 to 29 minutes,United States of America,United States of America,software development and IT,None,Employed for wages,70000.0,NaN,...,25.0,13000.0,1.0,0.0,0.0,0.0,Spanish,"single, never married",1000.0,5.0
3,4,26.0,I work from home,Brazil,Brazil,software development and IT,None,Employed for wages,40000.0,0.0,...,14.0,24000.0,0.0,0.0,0.0,1.0,Portuguese,married or domestic partnership,0.0,5.0
4,5,20.0,None,Portugal,Portugal,None,None,Not working but looking for work,140000.0,NaN,...,10.0,NaN,0.0,0.0,0.0,NaN,Portuguese,"single, never married",0.0,24.0